@import "../../common/variables";

.footer {
  background-color: $secondary-color;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
  flex-direction: column;
}
